<div class="car-card">
  <span class="brand">Brand: {{carData.brand}}</span>
  <span class="model">Model: {{carData.model}}</span>
  <span class="km">Km: {{carData.km}}</span>
  <span class="year">Year: {{carData.year}}</span>
  <span class="shift">Shift: {{carData.shift}}</span>
  <span class="fuel">Fuel: {{carData.fuel}}</span>
  <span class="color">Color: {{carData.color}}</span>
  <span class="car-type">Car-type: {{carData.car_type}}</span>
  <span class="e-car">E-car: {{carData.e_car}}</span>
</div>

